bcrypt            
blinker            
certifi           
cffi               
charset-normalizer 
click             
colorama           
cryptography       
Flask              
Flask-Bcrypt      
flask-cors         
Flask-JWT-Extended 
Flask-Mail         
Flask-MySQLdb     
Flask-SQLAlchemy   
greenlet           
idna               
itsdangerous       
Jinja2             
MarkupSafe         
mysqlclient        
pillow             
pip               
pycparser         
PyJWT              
PyMySQL            
python-dotenv      
reportlab          
requests           
setuptools         
SQLAlchemy         
typing_extensions  
urllib3           
Werkzeug